.card {
    background-color: ghostwhite;
    border-radius: 2px;
    border: none;
    color: black;
    box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2),
    0 6px 10px 0 rgba(0, 0, 0, 0.14),
    0 1px 18px 0 rgba(0, 0, 0, 0.12);
    margin-bottom: 8px;
}
h3 {
    margin: 0;
    color: rgb(25, 118, 210);
}
p {
    margin: 4px;
    padding: 0 8px;
    text-align: justify;
}
.card__delete {
    padding-bottom: 8px;
}
