.card {
    border-radius: 2px;
    box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2),
    0 6px 10px 0 rgba(0, 0, 0, 0.14),
    0 1px 18px 0 rgba(0, 0, 0, 0.12);
    margin-bottom: 8px;
    padding: 20px;
}
h4 {
    margin: 0;
    text-align: left;
    padding-bottom: 4px;
    padding-left: 8px;
    color: #827f7f;
    border: 1px dotted darkgray;
}
p {
    margin: 4px;
    text-align: justify;
    /*border-bottom: 2px dotted darkgray;*/

}
.card__delete {
    padding: 4px;
    font-size: 20px;
    display: inline-flex;
}

.card__delete:hover {
    background-color: rgba(25, 118, 210, 0.5);
    cursor: pointer;
}
