.Doctors{
    display: flex;
    align-items: center;
    min-height: 100%;
}

.Doctors__wrapper {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.Doctors__list{
    min-width: 100%;
}
.Doctors__fab {
    margin-top: 8px;
}
