

.doctorItem {
    padding: 4px;
    border: solid 1px black;
    margin-bottom: 4px;
    display: flex;
    flex-direction: row;
    width: 100%;
    cursor: pointer;
    box-sizing: border-box;
}

.doctorItem__delete {
    background-color: ghostwhite;
    padding: 0 4px;
    font-size: 20px;
}
.doctorItem__delete:hover {
    background-color: rgba(25, 118, 210, 0.5);
    cursor: pointer;
}
.doctorItem__value {
    display: flex;
    flex-grow: 1 ;
}
